<div class="row">
    <div class="entries">
        {{ $paginator := .Paginate (where .Data.Pages.ByPublishDate "Section" "posts") }}
        {{ range $paginator.Pages }}

        {{ $dateTime := .PublishDate.Format "2006-01-02" }}
        {{ $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006" }}
        
        <!-- RICRODARSI DI FARE UN IF PER CONTROLLARE CHE '$image_arr' NON SIA VUOTO SENNO 
                    SI CRASHA TUTTO, SE VUOTO METTERE CUSTOM IMAGE CON 'image not found' -->

        <div class="col-lg-4 col-md-6 mb-4">
            <div class="item-entry">
                <div class="item-entry__thumb">
                    <a href="{{ .RelPermalink }}" class="item-entry__thumb-link" title="image-link">
                        <img src="{{ index .Params.images 0 | relURL  }}" alt="post-thumb" />
                    </a>
                </div>

                <div class="item-entry__text">
                    <div class="item-entry__cat">
                        <a href="#" title="category-link">{{ .Params.category }}</a>
                    </div>

                    <h1 class="item-entry__title">
                        <a href="{{ .RelPermalink }}" title="title-link">{{ .Title }}</a>
                    </h1>

                    <div class="item-entry__date">
                        <a href="{{ .RelPermalink }}" title="date-link">{{ .PublishDate.Format $dateFormat }}</a>
                    </div>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</div>