  <!-- Bootstrap core JavaScript -->

  {{ $js0 := "vendor/jquery/jquery.min.js" | absURL }}
  <script src="{{ $js0 }}"></script>

  {{ $js1 := "vendor/bootstrap/js/bootstrap.bundle.min.js" | absURL }}
  <script src="{{ $js1 }}"></script>

  {{ $js2 := resources.Get "js/plugins.js" | minify }}
  <script src="{{ $js2.Permalink }}"></script>

  {{ $js3 := resources.Get "js/main.js" | minify }}
  <script src="{{ $js3.Permalink }}"></script>

  {{ $js4 := resources.Get "js/toggle.js" | minify }}
  <script src="{{ $js4.Permalink }}"></script>

  {{ $js5 := resources.Get "js/filePrint.js" | minify }}
  <script src="{{ $js5.Permalink }}"></script>


{{ "<!-- google analitycs -->" | safeHTML }}
<script>
  (function(e,t,n,i,s,a,c){e[n]=e[n]||function(){(e[n].q=e[n].q||[]).push(arguments)}
  ;a=t.createElement(i);c=t.getElementsByTagName(i)[0];a.async=true;a.src=s
  ;c.parentNode.insertBefore(a,c)
  })(window,document,"galite","script","https://cdn.jsdelivr.net/npm/ga-lite@2/dist/ga-lite.min.js");
  galite('create', '{{ .Site.Params.googleAnalytics }}', 'auto');
  galite('send', 'pageview');
</script>

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/6.6.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#config-web-app -->

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyAQe2U2EbkG9JOFYkHBfq6rbR7gAW2eSgQ",
    authDomain: "first-project-101d3.firebaseapp.com",
    databaseURL: "https://first-project-101d3.firebaseio.com",
    projectId: "first-project-101d3",
    storageBucket: "",
    messagingSenderId: "398555789632",
    appId: "1:398555789632:web:2ec4cdc5ca54ba29f1a2a5"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
</script>