  <!-- Bootstrap core JavaScript -->

  {{ $js0 := "vendor/jquery/jquery.min.js" | absURL }}
  <script src="{{ $js0 }}"></script>

  {{ $js1 := "vendor/bootstrap/js/bootstrap.bundle.min.js" | absURL }}
  <script src="{{ $js1 }}"></script>

  {{ $js2 := resources.Get "js/plugins.js" | minify }}
  <script src="{{ $js2.Permalink }}"></script>

  {{ $js3 := resources.Get "js/main.js" | minify }}
  <script src="{{ $js3.Permalink }}"></script>

  {{ $js4 := resources.Get "js/toggle.js" | minify }}
  <script src="{{ $js4.Permalink }}"></script>

  {{ $js5 := resources.Get "js/filePrint.js" | minify }}
  <script src="{{ $js5.Permalink }}"></script>