  <!-- Bootstrap core JavaScript -->

  {{ $js0 := "vendor/jquery/jquery.min.js" | absURL }}
  <script src="{{ $js0 }}"></script>

  {{ $js1 := "vendor/bootstrap/js/bootstrap.bundle.min.js" | absURL }}
  <script src="{{ $js1 }}"></script>

  {{ $js2 := "js/plugins.js" | absURL }}
  <script src="{{ $js2 }}"></script>

  {{ $js3 := "js/main.js" | absURL }}
  <script src="{{ $js3 }}"></script>

  {{ $js4 := "js/toggle.js" | absURL }}
  <script src="{{ $js4 }}"></script>

  {{ $js5 := "js/filePrint.js" | absURL }}
  <script src="{{ $js5 }}"></script>