<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "url": {{ .Site.BaseURL | jsonify }},
  {{ with .Site.Params.author -}}
  "author": {
    "@type": "Person",
    "name": {{ . | jsonify }}
  },
  {{- end }}
  {{ with .Site.Params.description -}}
  "description": {{ . | jsonify }},
  {{- end }}
  {{ with .Site.Params.image.url -}}
  "image": {{ . | absURL | jsonify }},
  {{- end }}
  {{ with .Site.Params.logo.url -}}
  "thumbnailUrl": {{ . | absURL | jsonify }},
  {{- end }}
  "name": {{ .Site.Title | jsonify }}
}
</script>