<!-- Twitter Card -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="{{ .Title }} | {{.Site.Title}}" />
<meta name="twitter:description"
    content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end -}}" />
    {{ $HomeImage := (index .Site.Params.logo "url") }}
    <meta name="twitter:image" content="{{ if .IsHome }}{{ $HomeImage | absURL }}{{ else if .IsPage }}{{ index .Params.images 0 | absURL }}{{ end }}">